.chip{
    font-size: 5rem;
    background: linear-gradient(to right, #6190e8,#a7bfe8);
    color: #fff;
    padding: 0.3rem 0.9rem;
    border-radius: 5px;
    width: 130%;
    text-transform: capitalize;
}